*{
    margin: 0px;
    padding: 0px;                
}
body{
    font-family: Arial;
}

.cards{
    width: 20%;
     display: inline-block;
background-color:aqua;
border-radius: 5px;
margin: 40px;
box-shadow: 2px 2px 10px blueviolet;
}
.image img{
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 5px;
}
.title{
    text-align: center;
    padding: 5px;
}
.des{
    text-align: center;
    padding: 4px;
}
button{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:rgb(242, 223, 189);
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color:white;
    color:orange;
    transition: 500ms;
}